/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #3a80c7;
  border-color: #1861ac;
  z-index: 2;
}

.btn:hover {
  animation: wiggle 0.8s ease-in-out forwards;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

@keyframes wiggle {
  10%,
  90% {
    transform: rotate(-10deg);
  }

  20%,
  80% {
    transform: rotate(10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-5deg);
  }

  40%,
  60% {
    transform: rotate(5deg);
  }
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2274538.jpg");
  width: 100%;
  height: fit-content;
  text-shadow: darkcyan;
  perspective: 1000px;
}

.youtube {
  animation: youtube-animation 0.5s ease-out;
}

@keyframes youtube-animation {
  0% {
    transform: scale(0, 0);
  }
  80% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.home-two-container {
  text-align: center;
  backdrop-filter: blur(15px) brightness(1.2);
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  z-index: 0;
  transform-style: preserve-3d;
}

.logo {
  /* animation: logo 0.5s ease-in-out; */
  z-index: 2;
}

.highlight-text {
  color: #3a80c7;
}

@keyframes logo {
  0% {
    transform: translate(0, -500px);
  }
  80% {
    transform: translate(0px, 50px) scale(1, 0.6);
  }
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  padding-inline: 5%;
}

.info-text {
  animation: info-text-animation 200ms ease-in;
}

@keyframes info-text-animation {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }

  80% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
